:root {
  color-scheme: light dark;
}

body {
  font-family: sans-serif;
  padding: 10px;
  margin: 0;
}

#login, #app {
  max-width: 500px;
  margin: auto;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
}

.dayCard {
  border: 1px solid #8883;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}
